@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

:root {
    --dark-gray: #0f1011;
    --main-purple: #520c60;
    --dark-green: #2e8a56;
    --light-green: #36c172;
    --error-red: #c70000;
    --light-red: #e13939;
    --gray: #9ca2a4;
    --light-gray: #d4d6d7;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--light-gray);
}

input:active,
input:focus,
input:focus-visible,
textarea:active,
textarea:focus,
textarea:focus-visible {
    border-color: var(--main-purple) !important;
    outline: 1px solid var(--main-purple) !important;
}

.mainSection {
    text-align: center;
    color: var(--main-purple);
    width: 100%;
    height: 90vh;
    background-color: var(--light-gray);
}

.mainSection h1 {
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.mainSection h2 {
    font-size: 40px;
    margin-top: 10px;
}
